<!-- ============================================ -->
<!--             Final Call to Action             -->
<!-- ============================================ -->

<section id="cta">
    <div class="container">
        <h2 class="title">
            Nazovite za dogovor termina
            <br />
        </h2>
        <p>
            Nazovite na broj mobitela ili se javite na e-mail adresu za više informacija.
        </p>
        <a href="/contact" class="cs-button-solid">Kontakt</a>
    </div>
    <picture>
        <source media="(max-width: 600px)" srcset="/assets/images/Galerija02.jpg">
        <source media="(min-width: 601px)" srcset="/assets/images/Galerija02.jpg">
        <img aria-hidden="true" decoding="async" src="/assets/images/Galerija02.jpg" alt="kitchen cabinets" loading="lazy" width="2500" height="1667">
    </picture>

</section>