---
title: 'Cjenik | One on One Fitnes Centar'
description: 'Meta description for the page'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'blog/'
eleventyNavigation:
    key: Blog
    order: 500
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/blog.css">
{% endblock %}

{% block body %}
    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <section id="int-hero">
        <h1 id="home-h">Cjenik</h1>
        <picture>
            <source media="(max-width: 600px)" srcset="/assets/images/Galerija16.jpg">
            <source media="(min-width: 601px)" srcset="/assets/images/Galerija16.jpg">
            <img aria-hidden="true" decoding="async" src="/assets/images/Galerija16.jpg" alt="kitchen cabinets" loading="eager" width="2500" height="1667">
        </picture>
    </section>

    <!-- ============================================ -->
    <!--              Main Blog Content               -->
    <!-- ============================================ -->

    <div class="blog-container main-content-wrapper">
        <!--Main content -->
        <div class="main-content">
            <article class="recent-articles">
                <!--Main Article Image-->
                <!-- <picture class="blog-mainImage">
                    <img
                    src="/assets/images/blog/landing.jpg"
                    alt="Kitchen"
                    width="795"
                    height="400"
                    decoding="async" />
                </picture> -->
                <!--Article Info-->
                <div class="article-group">
                    <div class="blog-authorGroup">
                        <!--Author Image-->
                        <!-- <picture class="blog-author-img">
                            <img
                            src="/assets/svgs/profile.svg"
                            alt="house"
                            width="32"
                            height="32"
                            decoding="async" />
                        </picture>
                        <span class="blog-author">Code Stitch</span>
                        <span aria-hidden="true" class="blog-dot"></span> -->
                        <!--Blog Date-->
                        <!-- <span class="blog-date">Jun 8, 2023</span> -->
                    </div>
                    <h2 class="blog-h1">
                        Plan prehrane
                    </h2>
                    <p class="blog-desc">
                        49,00 € (369,19 kn )
                    </p>
                    <!-- <a href="/blog/canitiem-saxa/" class="blog-link">Continue Reading</a> -->
                </div>
            </article>
            
            <article class="recent-articles">
                <!--Main Article Image-->
                <!-- <picture class="blog-mainImage">
                    <img
                    src="/assets/images/blog/landing.jpg"
                    alt="Kitchen"
                    width="795"
                    height="400"
                    decoding="async" />
                </picture> -->
                <!--Article Info-->
                <div class="article-group">
                    <div class="blog-authorGroup">
                        <!--Author Image-->
                        <!-- <picture class="blog-author-img">
                            <img
                            src="/assets/svgs/profile.svg"
                            alt="house"
                            width="32"
                            height="32"
                            decoding="async" />
                        </picture>
                        <span class="blog-author">Code Stitch</span>
                        <span aria-hidden="true" class="blog-dot"></span> -->
                        <!--Blog Date-->
                        <!-- <span class="blog-date">Jun 8, 2023</span> -->
                    </div>
                    <h2 class="blog-h1">
                        1 TRENING:
                    </h2>
                    <p class="blog-desc">
                        1 NA 1 - 19,00 € (143,15 kn)
                    </p>
                    <p class="blog-desc">
                        2 NA 1 - 16,00 € (120,55 kn) po osobi
                    </p>
                    <p class="blog-desc">
                        OBITELJSKI 2 NA 1 - 26,00 € (195,89 kn)
                    </p>
                    <!-- <a href="/blog/sucos-creati/" class="blog-link">Continue Reading</a> -->
                </div>
            </article>
            
            <article class="recent-articles">
                <!--Main Article Image-->
                <!-- <picture class="blog-mainImage">
                    <img
                    src="/assets/images/blog/landing.jpg"
                    alt="Kitchen"
                    width="795"
                    height="400"
                    decoding="async" />
                </picture> -->
                <!--Article Info-->
                <div class="article-group">
                    <div class="blog-authorGroup">
                        <!--Author Image-->
                        <!-- <picture class="blog-author-img">
                            <img
                            src="/assets/svgs/profile.svg"
                            alt="house"
                            width="32"
                            height="32"
                            decoding="async" />
                        </picture>
                        <span class="blog-author">Code Stitch</span>
                        <span aria-hidden="true" class="blog-dot"></span> -->
                        <!--Blog Date-->
                        <!-- <span class="blog-date">Jun 8, 2023</span> -->
                    </div>
                    <h2 class="blog-h1">
                        MJESEČNA ČLANARINA 1 NA 1:
                    </h2>
                    <p class="blog-desc">
                        4x TJEDNO - 286,00 € (2154,86 kn)
                    </p>
                    <p class="blog-desc">
                        3x TJEDNO - 215,00 € (1619,91 kn)
                    </p>
                    <p class="blog-desc">
                        2x TJEDNO - 145,00 € (1092,50 kn)
                    </p>
                    <p class="blog-desc">
                        1x TJEDNO - 79,00 € (595,22 kn)
                    </p>
                    <!-- <a href="/blog/acuti-modo/" class="blog-link">Continue Reading</a> -->
                </div>
            </article>
            <article class="recent-articles">
                <div class="article-group">
                    <div class="blog-authorGroup">
                    </div>
                    <h2 class="blog-h1">
                        MJESEČNA ČLANARINA 2 NA 1:
                    </h2>
                    <p class="blog-desc">
                        4x TJEDNO - 238,00 € (1793,21 kn) po osobi
                    </p>
                    <p class="blog-desc">
                        3x TJEDNO - 179,00 € (1348,67 kn) po osobi
                    </p>
                    <p class="blog-desc">
                        2x TJEDNO - 19,00 € (896,60 kn) po osobi
                    </p>
                    <p class="blog-desc">
                        1x TJEDNO -  66,00 € (500 kn) po osobi
                    </p>
                </div>
            </article>
            <article class="recent-articles">
                <div class="article-group">
                    <div class="blog-authorGroup">
                    </div>
                    <h2 class="blog-h1">
                        OBITELJSKA 2 NA 1 (ukupna cijena za sve zajedno):
                    </h2>
                    <p class="blog-desc">
                        4x TJEDNO - 338,00 € (2863,11 kn)
                    </p>
                    <p class="blog-desc">
                        3x TJEDNO - 254,00 €(1913,76 kn)
                    </p>
                    <p class="blog-desc">
                        2x TJEDNO - 173,00 € (1265,79 kn)
                    </p>
                    <p class="blog-desc">
                        1x TJEDNO -  106,00 € (798,65 kn)
                    </p>
                </div>
            </article>
            <a href="/contact" class="cs-button-solid">Kontakt</a>
        </div>

        {% include 'components/featured-post.html' %}
    </div>
{% endblock %}